<div>
  <h3>Module Aims</h3>
  <p style="border-top: 5px solid #AC145A; padding-top: 5px;">[INSERT MODULE
    AIMS]</p>
</div>
<div>
  <h3><br>Intended Learning Outcomes</h3>
  <div style="padding-left: 12px;">
    <div style="min-height: 2.5em;">
      <hr>
      <p><span
          style="font-size: 44px; float: left; color: #ac145a; margin-top: -12px;"> <strong>1</strong>
           </span>[INSERT ILO 1]</p>
    </div>
    <div style="min-height: 2.5em;">
      <hr style="margin-top: 24px;">
      <p><span
          style="font-size: 44px; float: left; color: #ac145a; margin-top: -12px;"> <strong>2</strong>
           </span>[INSERT ILO 2]</p>
    </div>
    <div style="min-height: 2.5em;">
      <hr style="margin-top: 24px;">
      <p><span
          style="font-size: 44px; float: left; color: #ac145a; margin-top: -12px;"> <strong>3</strong>
           </span>[INSERT ILO 3]</p>
    </div>
    <div style="min-height: 2.5em;">
      <hr style="margin-top: 24px;">
      <p><span
          style="font-size: 44px; float: left; color: #ac145a; margin-top: -12px;"> <strong>4</strong>
           </span>[INSERT ILO 4]</p>
    </div>
    <div style="min-height: 2.5em;">
      <hr style="margin-top: 24px;">
      <p><span
          style="font-size: 44px; float: left; color: #ac145a; margin-top: -12px;"> <strong>5</strong>
           </span>[INSERT ILO 5]</p>
    </div>
    <div style="min-height: 2.5em;">
      <hr style="margin-top: 24px;">
      <p><span
          style="font-size: 44px; float: left; color: #ac145a; margin-top: -12px;"> <strong>6</strong>
           </span>[INSERT ILO 6]</p>
    </div>
  </div>
</div>