<div style="max-width: 98%;">
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-3 text-left">Meet the Teaching Team</h4>
      <p class="text-left">Watch this introduction to the module by course
        leads, [INSERT FULL NAME] and [INSERT FULL NAME]. In this 5-minute
        video, [FIRST NAME] and [FIRST NAME] welcome you to the module and share
        their personal insights on the course content and design, alongside
        their hopes for what you will gain by studying this module.   </p>
      <p
        style="display: block; margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 1em;">
        <span data-processed="1"><img class="img-fluid"
            style="max-width: 720px; display: block; margin-left: auto; margin-right: auto;"
            src="https://moodle.ucl.ac.uk/pluginfile.php/8604335/mod_lesson/page_contents/83152/maxresdefault.jpg"
            alt="Placeholder" data-clarity-loaded="1yt2jik"
            data-ally-content-id="ally-content-cfc65cb11c667d7a5b2d752b38b4f4f682437a9f-0"
            data-ally-file-eid="cfc65cb11c667d7a5b2d752b38b4f4f682437a9f"></span>
        <span class="badge badge-default">Video: Module introduction and welcome
          by the course leads (5 minutes). View the transcript <a
            href="#">here</a>.</span></p>
    </div>
  </div>
  <div class="row" style="padding: 0em 1.5em 0em 1.5em;"><br>
    <div class="col-md-12"
      style="background-color: #e6e6e6; padding: 1em; border-left: 5px solid #333333;">
      <p><strong><a href="#">[FULL NAME AND TITLE LINKED TO UCL PROFILES
            PAGE]</a> </strong>[insert bio].</p>
      <p>[INSERT HEADSHOT]</p>
      <p style="padding-bottom: 0px; margin-bottom: 0px;">Find out how to
        contact [FIRST NAME] on the <em><a href="#">Contacts page</a> </em>of
        the Moodle course. </p>
    </div>
  </div>
  <div class="row" style="padding: 0em 1.5em 0em 1.5em; margin-top: 24px;">
    <div class="col-md-12"
      style="background-color: #e6e6e6; padding: 1em; border-left: 5px solid #333333;">
      <p><strong><a href="#">[FULL NAME AND TITLE LINKED TO UCL PROFILES
            PAGE]</a> </strong>[insert bio].</p>
      <p>[INSERT HEADSHOT]</p>
      <p style="padding-bottom: 0px; margin-bottom: 0px;">Find out how to
        contact [FIRST NAME] on the <em><a href="#">Contacts page</a> </em>of
        the Moodle course. </p>
    </div>
  </div>
  <div>
    <h5> </h5>
    <h5><br>Module Contributors</h5>
    <p>Alongside [FIRST NAME] and [FIRST NAME], the design and creation of this
      module was contributed to by:</p>
  </div>
  <div class="row" style="padding: 0em 1.5em;">
    <div class="col-md-12"
      style="background-color: #deb8c3; padding: 1em; border-left: 5px solid #AC145A;">
      <p style="padding-bottom: 0px; margin-bottom: 0px;"><strong>[Insert
          additional contributors, e.g. Associate Lecturer]</strong>  </p>
    </div>
  </div>
</div>