<div class="container-fluid" style="overflow: hidden;"><!-- Title Row -->
  <div class="row">
    <div class="col-md-12">
      <h5>Weekly Topics</h5>
      <p>This week's learning will be made up of three topics:</p>
      <ul>
        <li>
          <h6><a href="[Insert Link Here]">Topic 1: [Insert Topic Name]</a></h6>
        </li>
        <li>
          <h6><a href="[Insert Link Here]">Topic 2: [Insert Topic Name]</a></h6>
        </li>
        <li>
          <h6><a href="[Insert Link Here]">Topic 3: [Insert Topic Name]</a></h6>
        </li>
      </ul>
      <p>As well as a <strong><a href="[Insert Link Here]">Summary</a></strong>
        section with further reading for the week.</p>
      <div class="p-4 mb-4"
        style="background-color: rgba(52, 198, 198, 0.2); border-radius: 5px; border: 1px solid #34C6C6;">
        <h5>Learning Outcomes</h5>
        <ul
          style="list-style-type: disc; padding-left: 20px; font-size: 1rem; line-height: 1.4;">
          <li>[Insert Learning Outcome 1]</li>
          <li>[Insert Learning Outcome 2]</li>
          <li>[Insert Learning Outcome 3]</li>
          <li>[Insert Learning Outcome 4]</li>
        </ul>
      </div>
    </div>
  </div>
</div>