<div class="container-fluid"
  style="overflow: hidden; margin: 0px; padding: 0px;"><!-- Title Row -->
  <div class="row">
    <div class="col-md-12">
      <h4>Study Topics</h4>
      <p style="padding-bottom: 0px;">This week's learning will be made up of
        three topics:</p>
      <nav style="text-align: center; padding-bottom: 12px;">
        <ul class="pagination" style="list-style-type: none;">
          <li class="page-item"><a class="page-link"
              href="[Insert Link Here]">1. [Insert Topic Name]</a></li>
          <li class="page-item"><a class="page-link"
              href="[Insert Link Here]">2. [Insert Topic Name]</a></li>
          <li class="page-item"><a class="page-link"
              href="[Insert Link Here]">3. [Insert Topic Name]</a></li>
        </ul>
      </nav>
      <p style="padding-bottom: 12px;">As well as a <a
          href="[Insert Link Here]">summary</a> section with further reading and
        resources.</p>
      <div
        style="background-color: rgba(255, 202, 54, 0.2); margin-left: 12px; border-left: 5px solid #FFCA36; width: 100%; margin-top: 16px; padding: 12px;">
        <h6>Learning Outcomes</h6>
        <ul
          style="list-style-type: disc; padding-left: 20px; font-size: 1rem; line-height: 1.4;">
          <li>[Insert Learning Outcome 1]</li>
          <li>[Insert Learning Outcome 2]</li>
          <li>[Insert Learning Outcome 3]</li>
          <li>[Insert Learning Outcome 4]</li>
        </ul>
      </div>
      <div
        style="margin-left: 12px; border-left: 5px solid #AC145A; padding-left: 12px; padding-top: 6px; margin-top: 24px;">
        <h6><i class="fa fa-bell" aria-hidden="true"></i> Reminder: [Insert
          Reminder, or remove]</h6>
        <p>[Insert detail, relevant links etc. Reminders should be tasks
          students must undertake this week but are <strong>not</strong> listed
          in the activities on this page. For example, a reminder to submit a
          summative assessment with deadline and a link through to submission
          point on the Assessment section.]</p>
      </div>
    </div>
  </div>
</div>