<div class="container-fluid" style="padding-left: 0; overflow: hidden;">
  <!-- Title and Paragraph Section -->
  <div class="row" style="padding: 20px 0; margin-left: 0;">
    <div class="col-md-12" style="padding-left: 0;">
      <h5 class="text-left">h4. Ipsum Dolor Sit Amet</h5>
      <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh,
        lacinia non faucibus et, pharetra in dolor. Vivamus sagittis, erat quis
        vehicula aliquam, magna odio interdum lorem, a convallis est turpis a
        erat.</p>
    </div>
  </div>
  <!-- Unordered List and Media Section -->
  <div class="row" style="padding: 20px 0; margin-left: 0;">
    <!-- Unordered List (Left) -->
    <div class="col-md-6" style="padding-left: 0;">
      <h5>Title of Points Covered</h5>
      <ul>
        <li>
          <h6>Lorem Ipsum Item #1</h6>
        </li>
        <li>
          <h6>Lorem Ipsum Item #2</h6>
        </li>
        <li>
          <h6>Lorem Ipsum Item #3</h6>
        </li>
        <li>
          <h6>Lorem Ipsum Item #4</h6>
        </li>
      </ul>
    </div>
    <!-- Media Object (Right) -->
    <div class="col-md-6  style=">
      <div class="d-flex flex-column align-items-start">
        <p><img class="img-fluid mb-2" src="https://via.placeholder.com/300x300"
            alt="Vertical graph representing science diplomacy trends"
            data-clarity-loaded="hwu0sx"><br><span
            class="badge badge-default">Label The Media</span></p>
      </div>
    </div>
    <!-- Final Conclusion Section -->
    <div class="row"
      style="padding: 20px 0; margin-left: 0; background-color: #f1f1f1; width: 100%;">
      <div class="col-md-12">
        <p class="text-left"><strong>Thank you for exploring this content. We
            hope the insights shared here will support your journey. Continue to
            explore...</strong></p>
      </div>
    </div>
  </div>
</div>