<div class="container-fluid" style="padding-left: 0; overflow: hidden;">
  <div class="row" style="padding: 10px 0; margin-left: 0;">
    <div class="col-md-12" style="padding-left: 0;">
      <h4>h4. Lorem ipsum dolor sit amet.</h4>
      <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing
          elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In
        hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum
        velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed
        iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id
          sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc
          consequat lectus, id bibendum diam velit et dui.</em> Proin massa
        magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi
          erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod
          ultrices massa, et feugiat ipsum consequat eu.</small></p>
      <div class="row" style="padding: 10px 0; margin-left: 0;">
        <div class="col-md-6" style="padding-left: 0;">
          <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing
              elit</strong>. Aliquam eget sapien sapien. Curabitur in metus
            urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed
            vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra
            in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo
              sodales nisi id sodales. Proin consectetur, nisi id commodo
              imperdiet, metus nunc consequat lectus, id bibendum diam velit et
              dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere
            nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra
              quis elit. Nulla euismod ultrices massa, et feugiat ipsum
              consequat eu.</small></p>
        </div>
        <div class="col-md-6" style="padding-left: 0;">
          <div class="d-flex flex-column align-items-start">
            <p><img class="img-fluid mb-2"
                src="https://moodle.ucl.ac.uk/draftfile.php/8515504/user/draft/135166653/c1280acc22a03af9.jpg"
                alt="UCL in autumn" width="3620" height="2715"
                data-clarity-loaded="1k064dc"> <span
                class="badge badge-default">Label The Media</span></p>
          </div>
        </div>
      </div>
      <div class="row" style="padding: 10px 0; margin-left: 0;">
        <div class="col-md-12" style="padding-left: 0;">
          <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing
              elit</strong>. Aliquam eget sapien sapien. Curabitur in metus
            urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed
            vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra
            in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo
              sodales nisi id sodales. Proin consectetur, nisi id commodo
              imperdiet, metus nunc consequat lectus, id bibendum diam velit et
              dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere
            nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra
              quis elit. Nulla euismod ultrices massa, et feugiat ipsum
              consequat eu.</small></p>
        </div>
      </div>
    </div>
  </div>
</div>