<div class="container-fluid" style="padding-left: 0; overflow: hidden;">
  <div class="row" style="margin-left: 0;">
    <div class="col-md-12"><!-- Jumbotron Section -->
      <div class="jumbotron" style="background-color: #f1f1f1; color: #333333;">
        <h2>Hello, world!</h2>
        <p>This is a template for a simple Moodle Lesson. It includes a large
          callout called the Jumbotron. Use it as a starting point to create
          something more unique.</p>
      </div>
      <!-- Description List and Image Row -->
      <div class="row" style="margin-left: 0;">
        <div class="col-md-6" style="padding-left: 0;">
          <dl>
            <dt>Description lists</dt>
            <dd>A description list is perfect for defining terms.</dd>
            <dt>Euismod</dt>
            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia
              odio sem nec elit.</dd>
            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
            <dt>Malesuada porta</dt>
            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
            <dt>Felis euismod semper eget lacinia</dt>
            <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
          </dl>
        </div>
        <div class="col-md-6" style="padding-left: 0;">
          <div class="d-flex flex-column align-items-start">
            <p><img class="img-fluid mb-2"
                src="https://moodle.ucl.ac.uk/draftfile.php/8515504/user/draft/630469092/s_uk_ucl_381.jpg"
                alt="UCL Parkland" width="400" height="267"
                data-clarity-loaded="10y60nf"><br><span
                class="badge badge-default">Label The Media</span></p>
          </div>
        </div>
        <!-- Paragraph Section -->
        <div class="row" style="margin-left: 0;">
          <div class="col-md-12" style="padding-left: 0;">
            <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing
                elit</strong>. Aliquam eget sapien sapien. Curabitur in metus
              urna. In hac habitasse platea dictumst. Phasellus eu sem sapien,
              sed vestibulum velit. Nam purus nibh, lacinia non faucibus et,
              pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi
                commodo sodales nisi id sodales. Proin consectetur, nisi id
                commodo imperdiet, metus nunc consequat lectus, id bibendum diam
                velit et dui.</em> Proin massa magna, vulputate nec bibendum
              nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus
                eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat
                ipsum consequat eu.</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>