<div class="container-fluid" style="padding-left: 0; overflow: hidden;">
  <!-- Title and Introduction -->
  <div class="row" style="padding: 20px 0; margin-left: 0;">
    <div class="col-md-12" style="padding-left: 0;">
      <h4 class="text-left">h4. Etiam blandit congue quam, nec blandit nisi
        suscipit ut.</h4>
      <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Nam vel orci malesuada, suscipit lectus nec, fermentum mauris.</p>
    </div>
  </div>
  <!-- Main Content Row -->
  <div class="row" style="padding: 20px 0; margin-left: 0;">
    <!-- Left Content (5 Columns) -->
    <div class="col-md-5" style="padding-left: 0;">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel
        nisl sit amet risus pretium volutpat. Nulla facilisi.</p>
      <dl>
        <dt>Description lists</dt>
        <dd>A description list is perfect for defining terms.</dd>
        <dt>Euismod</dt>
        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio
          sem nec elit.</dd>
        <dd>Donec id elit non mi porta gravida at eget metus.</dd>
        <dt>Malesuada porta</dt>
        <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
        <dt>Felis euismod semper eget lacinia</dt>
        <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
          nibh, ut fermentum massa justo sit amet risus.</dd>
      </dl>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel
        nisl sit amet risus pretium volutpat. Nulla facilisi.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel
        nisl sit amet risus pretium volutpat. Nulla facilisi.</p>
    </div>
    <!-- Right Content (7 Columns with Image) -->
    <div class="col-md-7" style="padding-left: 0;">
      <div class="d-flex flex-column align-items-start">
        <p><img class="img-fluid"
            src="https://moodle.ucl.ac.uk/draftfile.php/8515504/user/draft/748385483/LDN352018_092_de36e.jpg"
            alt="Placeholder" width="427" height="640"
            data-clarity-loaded="1mg1qmk"><br><span
            class="badge badge-default">Label The Media</span></p>
      </div>
    </div>
  </div>
  <!-- Additional Paragraphs Below -->
  <div class="row" style="padding: 20px 0; margin-left: 0;">
    <div class="col-md-12" style="padding-left: 0;">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel orci
        malesuada, suscipit lectus nec, fermentum mauris. Etiam blandit congue
        quam, nec blandit nisi suscipit ut. Nulla tincidunt metus ut nulla
        tempor, non bibendum est tincidunt.</p>
      <p>Donec condimentum sodales justo, nec egestas purus tincidunt et. Ut
        sollicitudin nisl eu turpis facilisis, et scelerisque justo interdum.
      </p>
    </div>
  </div>
</div>