<div class="container-fluid" style="padding-left: 0; overflow: hidden;">
  <!-- Title and Introduction -->
  <div class="row" style="padding: 20px 0; margin-left: 0;">
    <div class="col-md-12" style="padding-left: 0;"><!-- Title Section -->
      <h4 class="mb-3 text-left">h4. Lorem Ipsum Dolor Sit Amet</h4>
      <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. In eget sapien ullamcorper, congue est non, porttitor arcu.
        Praesent sed justo nec lectus auctor posuere.</p>
    </div>
  </div>
  <!-- Graph/Image Section -->
  <div class="row" style="padding: 20px 0; margin-left: 0;">
    <div class="col-md-12 d-flex justify-content-center"
      style="padding-left: 0;">
      <p><img class="img-fluid"
          src="https://moodle.ucl.ac.uk/draftfile.php/8515504/user/draft/448484956/maxresdefault.jpg"
          alt="Placeholder" width="1280" height="720"
          data-clarity-loaded="ttwcf6"><br><span
          class="badge badge-default">Label The Media</span></p>
    </div>
  </div>
  <!-- Paragraphs Below the Image -->
  <div class="row" style="padding: 20px 0; margin-left: 0;">
    <div class="col-md-12" style="padding-left: 0;">
      <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Vivamus sagittis, erat quis vehicula aliquam, magna odio interdum
        lorem, a convallis est turpis a erat.</p>
      <p class="text-left">Phasellus dapibus orci sit amet turpis convallis, non
        consequat est aliquet. Ut ac fermentum turpis. Duis viverra libero ut
        magna faucibus, et condimentum purus faucibus.</p>
    </div>
  </div>
</div>